<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<array>
			<string>Conference Center</string>
			<string>Conference Center</string>
			<string>Conference Center</string>
		</array>
		<key>content</key>
		<array>
			<string>conference_image.jpg</string>
			<string>fitness&amp;conference.jpg</string>
			<string>restaurant&amp;conference.jpg</string>
		</array>
	</dict>
	<dict>
		<key>caption</key>
		<array>
			<string>Fitness</string>
			<string>Fitness</string>
			<string>Fitness</string>
		</array>
		<key>content</key>
		<array>
			<string>fitness_image.jpg</string>
			<string>fitness2.jpg</string>
			<string>fitness&amp;conference.jpg</string>
		</array>
	</dict>
	<dict>
		<key>caption</key>
		<array>
			<string>Dining</string>
			<string>Dining</string>
			<string>Dining</string>
		</array>
		<key>content</key>
		<array>
			<string>restaurant_image.jpg</string>
			<string>restaurant.jpg</string>
			<string>restaurant&amp;conference.jpg</string>
		</array>
	</dict>
</array>
</plist>
