<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>31042</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan23.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>tmp_testfit1.png</string>
					<string>tmp_testfit2.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>31042</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan22.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>tmp_testfit1.png</string>
					<string>tmp_testfit2.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>31042</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan21.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>tmp_testfit1.png</string>
					<string>tmp_testfit2.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>31042</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan20.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>tmp_testfit1.png</string>
					<string>tmp_testfit2.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>31042</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan19.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>TEST_FIT_FLOOR19_OpenOffice.png</string>
					<string>TEST_FIT_FLOOR19_ClosedOffice.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>31042</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan18.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>tmp_testfit1.png</string>
					<string>tmp_testfit2.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>29885</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan17.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>TEST_FIT_FLOOR11_OpenOffice.png</string>
					<string>TEST_FIT_FLOOR11_ClosedOffice.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan16.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>TEST_FIT_FLOOR11_OpenOffice.png</string>
					<string>TEST_FIT_FLOOR11_ClosedOffice.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan15.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>TEST_FIT_FLOOR11_OpenOffice.png</string>
					<string>TEST_FIT_FLOOR11_ClosedOffice.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan14.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>TEST_FIT_FLOOR11_OpenOffice.png</string>
					<string>TEST_FIT_FLOOR11_ClosedOffice.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan12.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>TEST_FIT_FLOOR11_OpenOffice.png</string>
					<string>TEST_FIT_FLOOR11_ClosedOffice.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan11.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>TEST_FIT_FLOOR11_OpenOffice.png</string>
					<string>TEST_FIT_FLOOR11_ClosedOffice.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan10.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>tmp_testfit1.png</string>
					<string>tmp_testfit2.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan9.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>tmp_testfit1.png</string>
					<string>tmp_testfit2.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan8.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>TEST_FIT_FLOOR8_OpenOffice.png</string>
					<string>TEST_FIT_FLOOR8_ClosedOffice.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string>grfx_floorplan1.png</string>
				</array>
				<key>testfits</key>
				<array>
					<string>tmp_testfit1.png</string>
					<string>tmp_testfit2.png</string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_east_hs.png</string>
						<key>xy</key>
						<string>750,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>EAST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_south_hs.png</string>
						<key>xy</key>
						<string>465,530</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>SOUTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_west_hs.png</string>
						<key>xy</key>
						<string>70,350</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>WEST VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140802_downtown_100m_5pm.jpg</string>
					</dict>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>grfx_north_hs.png</string>
						<key>xy</key>
						<string>465,110</string>
						<key>angle</key>
						<string>0</string>
						<key>caption</key>
						<string>NORTH VIEW</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string>20140811_view3_100m_01.jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
