<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionName</key>
		<string>Rendering</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>category</key>
				<string>rendering</string>
				<key>items</key>
				<array>
					<string>highway B1.jpg</string>
					<string>Street View B1.jpg</string>
					<string>Victory Center 01 Highway View.jpg</string>
					<string>Victory Center 02 W Hotel View.jpg</string>
					<string>Victory Center 03 View from SE.jpg</string>
					<string>Victory Center 04 Plaza View.jpg</string>
					<string>Victory Center View from plaza edits-sm.jpg</string>
					<string>NW-FINAL Lighting Concept2.jpg</string>
					<string>SE-FINAL Lighting Concept2.jpg</string>
				</array>
				<key>frame</key>
				<array>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
				</array>
			</dict>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>category</key>
				<string>photography</string>
				<key>items</key>
				<array>
					<string>20140716_view1_90 feet.jpg</string>
					<string>20140716_view2_90 feet.jpg</string>
					<string>20140802_downtown_100m_1pm.jpg</string>
					<string>20140802_downtown_100m_1pm_high-res.jpg</string>
					<string>20140802_downtown_100m_5pm.jpg</string>
					<string>20140802_downtown_100m_5pm_high-res.jpg</string>
					<string>20140802_downtown_100m_6pm.jpg</string>
					<string>20140802_downtown_100m_6pm_high-res.jpg</string>
					<string>20140802_downtown_60m_2pm.jpg</string>
					<string>20140802_downtown_60m_2pm_high-res.jpg</string>
					<string>20140802_view4_100m_01.jpg</string>
					<string>20140802_view4_100m_05.jpg</string>
					<string>20140802_view4_100m_06-small.jpg</string>
					<string>20140802_view4_100m_06.jpg</string>
					<string>20140802_view4_60m_02.jpg</string>
					<string>20140811_view3_100m_01.jpg</string>
					<string>20140811_view3_100m_02.jpg</string>
					<string>20140811_view3_100m_03.jpg</string>
					<string>20140811_view3_100m_04.jpg</string>
					<string>victory_center_138feet.jpg</string>
					<string>victory_center_278_feet.jpg</string>
				</array>
				<key>frame</key>
				<array>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
				</array>
			</dict>
			<dict>
				<key>albumtype</key>
				<string>film</string>
				<key>category</key>
				<string>video</string>
				<key>items</key>
				<array>
					<string>neoscape_bug.jpg</string>
				</array>
				<key>frame</key>
				<array>
					<string>play_button.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>Caption</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
