<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionName</key>
		<string>Rendering</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>category</key>
				<string>rendering</string>
				<key>items</key>
				<array>
					<string>Victory Center 02 W Hotel View.jpg</string>
					<string>Soutwest View of Victory Center.jpg</string>
					<string>Southeast View of Victory Center.jpg</string>
					<string>View of Victory Center and Dart Transit System.jpg</string>
					<string>Victory Center_Street View-1.jpg</string>
					<string>Victory Center_Highway View.jpg</string>
					<string>View 04.jpg</string>
					<string>Lobby Entry and Restuarant.jpg</string>
					<string>Lobby View.jpg</string>
				</array>
				<key>frame</key>
				<array>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>Victory Center W Hotel View</string>
					<string>Southwest View of Victory Center</string>
					<string>Southeast View of Victory Center</string>
					<string>Victory Center and Dart System</string>
					<string>Victory Center Street View</string>
					<string>Victory Center Highway View</string>
					<string>Courtyard View</string>
					<string>Lobby Entry and Restuarant</string>
					<string>Lobby View</string>
				</array>
			</dict>
			<dict>
				<key>albumtype</key>
				<string>photo</string>
				<key>category</key>
				<string>photography</string>
				<key>items</key>
				<array>
					<string>View of Victory Park - Higway view.jpg</string>
					<string>View of Victory Park - Olive Street View.jpg</string>
					<string>View of Victory Park - Victory Avenue.jpg</string>
					<string>20140716_view1_90 feet.jpg</string>
					<string>20140716_view2_90 feet.jpg</string>
					<string>20140802_downtown_100m_1pm_high-res.jpg</string>
					<string>20140802_downtown_100m_5pm_high-res.jpg</string>
					<string>20140802_downtown_100m_6pm_high-res.jpg</string>
					<string>20140802_view4_100m_05.jpg</string>
					<string>20140802_view4_100m_06.jpg</string>
					<string>20140802_view4_60m_02.jpg</string>
					<string>20140811_view3_100m_01.jpg</string>
					<string>20140811_view3_100m_02.jpg</string>
					<string>20140811_view3_100m_03.jpg</string>
					<string>20140811_view3_100m_04.jpg</string>
					<string>victory_center_138feet.jpg</string>
					<string>victory_center_278_feet.jpg</string>
				</array>
				<key>frame</key>
				<array>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
					<string>normal_frame.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>Highway View</string>
					<string>Olive Street View</string>
					<string>Victory Avenue View</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
					<string>Caption</string>
				</array>
			</dict>
			<dict>
				<key>albumtype</key>
				<string>film</string>
				<key>category</key>
				<string>video</string>
				<key>items</key>
				<array>
					<string>Duda_Paine_Victory_Park.png</string>
					<string>Trademark_VictoryPark_FinalCut_040114_for_mac_HD_HD.png</string>
					<string>Victory_Center_Fly_Over.png</string>
					<string>Street_View_Approach.png</string>
					<string>Low-Rise_Office_Floor.png</string>
					<string>Lobby_Level_night.png</string>
					<string>High-Rise_Office_Floor.png</string>
				</array>
				<key>frame</key>
				<array>
					<string>play_button.png</string>
					<string>play_button.png</string>
					<string>play_button.png</string>
					<string>play_button.png</string>
					<string>play_button.png</string>
					<string>play_button.png</string>
					<string>play_button.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>Victory Center Overview</string>
					<string>Victory Park Overview</string>
					<string>Victory Center Fly Over</string>
					<string>Street View Approach</string>
					<string>Low-Rise Office Floor</string>
					<string>Lobby Level night</string>
					<string>High-Rise Office Floor</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
