<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Stay</string>
		<key>hotspots</key>
		<array>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>537,348</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>W Dallas Hotel</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>512,251</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>Hyatt House Uptown Dallas</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>633,414</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>The Fairmont Hotel</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>556,217</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>Le Meridien / The Stoneleigh</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>631,262</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>Hotel ZaZa</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>604,296</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>The Ritz-Carlton</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>602,270</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>Rosewood Crescent Hotel</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>642,486</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>The Adolphus Hotel</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>593,578</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>Omni Dallas</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>717,387</string>
				<key>background</key>
				<string>hotspot_fine_dining_BG.png</string>
				<key>name</key>
				<string>Marriott City Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Play</string>
		<key>hotspots</key>
		<array>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>667,332</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Meyerson Symphony Center</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>635,373</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Dallas Museum of Art</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>643,340</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Klyde Warren Park</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>590,358</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Perot Museum of Nature &amp; Science</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>658,368</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Nasher Sculpture Center</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>508,321</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>American Airlines Center</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>546,454</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Westend Marketplace</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>654,598</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Dallas Convention Center</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>581,447</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Dallas World Aquarium</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>532,504</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Sixth Floor Museum (JFK)</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>527,571</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>Reunion Tower</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>709,325</string>
				<key>background</key>
				<string>hotspot_causal_dinning_BG.png</string>
				<key>name</key>
				<string>AT&amp;T Performing Arts Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Live</string>
		<key>hotspots</key>
		<array>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>532,359</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>W Dallas Residences</string>
				<key>units</key>
				<string>146</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>532,379</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>The Vista</string>
				<key>units</key>
				<string>129</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>532,397</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>The Terrace</string>
				<key>units</key>
				<string>95</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>529,425</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>The House</string>
				<key>units</key>
				<string>133</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>558,368</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Northend</string>
				<key>units</key>
				<string>540</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>534,338</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>The Cirque</string>
				<key>units</key>
				<string>252</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>507,293</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Magnolia Station</string>
				<key>units</key>
				<string>71</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>425,239</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>1400 Highline</string>
				<key>units</key>
				<string>314</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>527,214</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Azure</string>
				<key>units</key>
				<string>186</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>549,239</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Glass House</string>
				<key>units</key>
				<string>375</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>570,251</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>The Ashton</string>
				<key>units</key>
				<string>267</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>565,226</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Trianon</string>
				<key>units</key>
				<string>331</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>582,357</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Gables Park 17</string>
				<key>units</key>
				<string>292</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>607,345</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>1900 Mckinney</string>
				<key>units</key>
				<string>250</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>504,191</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Windsor at Turtle Creek</string>
				<key>units</key>
				<string>331</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>605,296</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Ritz-Carlton</string>
				<key>units</key>
				<string>96</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>653,349</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Museum Tower</string>
				<key>units</key>
				<string>125</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>459,209</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Alexan</string>
				<key>units</key>
				<string>365</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>500,379</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Arpeggio</string>
				<key>units</key>
				<string>378</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>485,305</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Camden</string>
				<key>units</key>
				<string>425</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>546,303</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Moda</string>
				<key>units</key>
				<string>263</string>
			</dict>
			<dict>
				<key>type</key>
				<string>static</string>
				<key>xy</key>
				<string>551,400</string>
				<key>background</key>
				<string>hotspot_hotel_BG.png</string>
				<key>name</key>
				<string>Skyhouse</string>
				<key>units</key>
				<string>336</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
