<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Since its inception in 1957, Hines has created projects of the highest quality, aesthethic relevance and enduring value for its investor partners, clients and local communities. Working with notable architects Hines has redefined the way developers interact with and treat architecture, promoting a balance between function, beauty and sustainability and reshaping skylines around the world.</string>
	<string>Cushman &amp; Wakefield is the world&apos;s largest privately held commercial real estate services firm. Founded in 1917, it has approximately 250 offices in 60 countries, employing more than 16,000 professionals. It offers a complete range of servicces for all property types, including leasing, sales and acquisitions, equity, debt and structured finance, corporate finance and investment banking, corporate services, property management, facilities management, project manangement, consulting and appraisal.</string>
	<string>Duda|Paine Architects is an ideal-focussed design firm headquartered in Durham, North Carolina. Founded in 1997, the firm presents clients with the opportunity to create meaningful, purposeful and transformative spaces.</string>
	<string>HKS, Inc. is a leading architectural design firm ranked among the top five architectural engineering firms, according to Building Design+Construction magazine. Since its founding in 1939, HKS has completed construction projects totaling more than $77 billion in more than 1,498 cities located in 84 countries. The firmoperates for 27 offices worldwide.</string>
	<string>Cousins Properties Incorporated is a fuly integrated, self-administered and self-managed real estate investment trust (REIT). The Comany, based in Atlanta, GA, primarily investes in Class-A office assets located in high growth Sunbelt markets, with a focus on Georgia, Texas and North Carolina. The Comapny has a comprehensive strategy in place based on a simple plantform, trophy assets and opportunitstic investments.</string>
</array>
</plist>
